.container {
  height: 100vh;
  z-index: 999;
  position: fixed;
  width: 100vw;
  top: 0;
  overflow-y: scroll;
  display: flex;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  background: #2d2d2d62;
  width: 60vw;
  height: 100vh;
}
.cartSidebar {
  background: #ffff;
  width: 40vw;
}
.cartHeader {
  background: rgba(128, 128, 128, 0.315);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.headerTitle {
  font-weight: 400;

  color: #2d2d2de5;
}
.contdShopping {
  color: #2d2d2d;
  padding: 15px 60px;
  font-size: 30px;
  font-weight: lighter;
  border: solid 1px #2d2d2d8f;
  background: white;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  margin-top: 60px;
}
.contdShopping:hover {
  background: #ededed;
  color: black;
}
.subtitle {
  font-weight: 400;
  color: #2d2d2d;
}
.cartIcon > svg {
  font-size: 70px;
  color: #2d2d2d;
}
.cartIcon {
  background: #ededed;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptyCart {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*inhabited*/
.inhabited {
  width: 80%;
}
.inhabitedbtns {
  display: flex;
  flex-direction: column;
}
.Subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.subtotalPrice {
  color: #818181;
  font-size: 20px;
}
.space {
  height: 20px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .cartSidebar {
    width: 100vw;
  }
  .overlay {
    width: 0vw;
  }
}
