.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.top {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 140px;
}
.sectionTitle {
  color: #3d3d3d;
  font-weight: 400;
}
.sectItem {
  color: #585858;
  font-size: 15px;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .top {
    flex-direction: column;
  }
}
