.loginPg {
  display: flex;
  width: 100%;
  height: 100vh;
}
.register {
  background-color: #f8f8f8;
}
.login,
.register {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sectionTitle {
  font-size: 50px;
  font-weight: 500;
}
.textSect {
  width: 50%;
  padding-left: 3px;
}
.space {
  height: 30px;
  width: 100%;
}
.txtsect {
  display: flex;
  width: 335px;
  align-items: center;
  justify-content: space-between;
}
.inputt > label {
  color: #8d8d8d;
  font-size: 12px;
}
.inputt {
  display: flex;
  align-items: center;
}
.txtsect > p {
  font-size: 12px;
}
.para {
  font-size: 12px;
  font-weight: 500;
}
.para2 {
  font-size: 12px;
  font-weight: 400;
}
.text {
  color: #8d8d8d;
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 768px) {
  .loginPg {
    flex-direction: column;
    height: 100%;
    margin-top: 10vh;
  }
  .login,
  .register {
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 1024px) {
}
