.ProductPg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 60px;
  margin-top: 150px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Title {
  font-weight: 400;
  color: #282828;
  width: 300px;
  font-size: 30px;
  margin: 0;
}
.price {
  font-weight: 300;
  color: #282828;
  font-size: 15px;
  margin: 0;
  padding-top: 5px;
}
.colorName {
  font-weight: 300;
  color: #282828;
  font-size: 15px;
  margin: 0;
}
.color,
.share {
  margin: 0;
  padding-top: 10px;
  font-weight: 500;
  color: #3a3a3a;
}
.colors {
  display: flex;
  align-items: center;
  padding: 5px 1px;
}
.sizebtns {
  display: flex;
  align-items: center;
  padding-top: 5px;
  width: 230px;
  flex-wrap: wrap;
}
.bottombtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  width: 225px;
}
.share {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.heartBtn {
  background: #cecdcd;
  height: 36px;
  width: 36px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.descTitle {
  color: #282828;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;

  width: 500px;
}
.descBody {
  line-height: 30px;
}
.descTitle::after {
  content: " ";
  height: 1px;
  width: 100px;
  background: black;
}
.relatedProducts {
  margin-top: 70px;
}
.products {
  display: flex;
  margin-bottom: 60px;
}
.relatedTitle {
  margin: 0;
  padding: 0;
  color: #282828;
  font-weight: 400;
  font-size: 35px;
}
@media screen and (max-width: 640px) {
  .relatedTitle {
    margin-right: 70px;
  }
}
@media screen and (max-width: 768px) {
  .top {
    flex-direction: column-reverse;
  }
  .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .relatedProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .descBody {
    width: 60%;
  }
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
}
